# cmake specific files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Makefile.tmp

# executable files
run

# some minor examples
boost_ex/
condition_variable/
constness/
constness2/
initializer_list/
temp_ref/
serialization/
serialization_boost/
private_inheritance/

# build files
build-LifeGame-Desktop_Qt_6_2_1_GCC_64bit-Debug/
build-Fibonacci-Desktop_Qt_6_2_1_GCC_64bit-Debug

